.aside,
#cards {
  //  padding: 10px;
  max-width: 800px;
  //width: 80%;
  //border: #ccc solid 1px;

  background-color: $mainBackgroun;
  // background-color: slategrey;

  margin: 0 auto;
  margin-top: 30px;
  
  // margin:20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  //grid-template-rows: 200px 200px;
  min-height: 250px;
  grid-gap: 10px;
  overflow: hidden;

  a {
   

    //border-bottom-right-radius: 15px;

    img {
      //border: 1px solid $lightBlue;
      background-size: cover;
      width: 100%;
      height: 70%;
      position: relative;
      top: 0;
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 350px) {
  #mainContent {
    width: 100%;
  }
  .aside,
  #cards {
    width: 100%;

    a {
      margin: 0 auto;
      max-width: 250px;
      width: 100%;
    }
  }
}

#gridCard1 {
  background-color: $mainBackgroun;
  border-bottom: none;
  text-align: left;
  button {
    position: relative;
    right: -170px;
  }
}

#gridCard2 {
  padding: 5px;
  border-bottom: none;
  text-align: left;
  button {
    position: relative;

    right: -170px;
  }
}

#cards {
  border-bottom: 1px solid darkgray;
  border-top: 1px solid darkgray;
}
#cards a {
  padding-top: 20px;
  background-color: $mainBackgroun;
  max-height: 230px;
  position: relative;
  top: 20px;
  opacity: 0.2;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 250px;
  width: 250px;
  color: $lightBlueDarken;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 20px;
  }
  h4 {
    font-size: 16px;
    font-weight: bold;
  }
}

.fill {
  width: 50px;
  height: 50px;
  fill: $lightBlueDarken;
}
