* {
  font-family: $abel;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: $mainBackgroun;
  //background-color: slategrey;
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 250px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.noDisplay {
  display: none;
}
.quickContact {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  top: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: $lightBlue;
  height: 29px;
  color: whitesmoke;
  padding: 3.5px 40px 0 40px;
  border-bottom: 1px solid rgba(255, 252, 252, 0.473);
  p {
    display: inline;
    margin: 0;
  }
  #telefon {
    margin: 0;
    color: orange;
  }
  #gmail {
    margin: 0;
    float: right;
    color: orange;
    a {
      color: white;
    }
  }
}

nav {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 90px;
  background-color: $lightBlue;
  color: whitesmoke;
  z-index: 3;
  //background-image: url("../images/983279.png");
  background-position: center;
  background-size: cover;
}

/*dodato owo gore*/
.nav-links li a:hover {
  color: #e8491d;
  font-weight: bold;
}

.logoImg{
  position: absolute;
  height: 70px;
  width: 112px;
  left: 20px;
  background-image: url("../images/logoh70.png");
  transition: 0.4s ease-in-out;

}
.logoToHome {
  position: absolute;
  height: inherit;
  width: inherit;
}

.logoImgSmall {
   // right: -30px;
    position: absolute;
    left: 20px;
    background-image: url("../images/logoh48.png");
    height: 48px;
    width: 77px;
    transition: 0.4s ease-in-out;
  }
@media screen and (max-width: 800px) {
  nav, .quickContact {
    width: 100%;
  }
  .logoImg {
    left: 20px;
    background-image: url("../images/logoh48.png");
    height: 48px;
    width: 77px;
  }
  .logoToHome {
  position: absolute;
  height: 48px;
  width: 77px;

}
}
.logo {
  text-align: unset;
  line-height: unset;
  margin: 0;
  position: relative;
  top: -10px;
  padding: 0 0 5px 0;
  width: 92.5px;
  left: -10%;
  border-bottom: 1px solid whitesmoke;

  a {
    margin: unset;
    padding: unset;
    text-decoration: none;
  }
}
.logo :hover {
  cursor: pointer;
}
#bato {
  color: white;
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  letter-spacing: 9px;
  font-family: 'Orbitron', sans-serif;
}
#alpvc {
  height: 32px;
  font-size: 12px;
  letter-spacing: 2px;
  color: #e8491d;
  font-weight: bold;
  margin: 0;
}

.nav-links {
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  width: 40%;
 // margin-top: 15px;
  //margin-bottom: 0;
  margin: unset;
  position: absolute;
  right: 30px;


  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: whitesmoke;
  }
}

#home {
  text-decoration: none;
  color: $orange;
  /* font-size: 15px; */
  border-top: 1px solid white;
  font-weight: bold;
  margin: 5px 0 0 0;
  letter-spacing: 2px;
  padding-top: 5px;
  font-weight: bold;
  //font: 15px/1.5 Helvetica,sans-serif;
}
#naslov {
   text-align: center;
   margin: 50px auto;
   position: relative;
   left: -1000px;
   line-height: 0;
   animation: title 1s forwards;
   animation-delay: 1s;

   
   
 /*  animation-name: title;
  animation-duration: 2s;
  animation-fill-mode: forwards; */
  h2, h3 {
    padding: 0;
    color: $lightBlueDarken;
  }
}

@keyframes title {
  0% {left: -1000px}
  60% {left: 0}
  80% {left: -10px}
  100% {left: 0}

}

#fancyParagraf {
  // background-color: rgb(223, 223, 238);
  //background-color: $lightBlue;
  background: linear-gradient($lightBlueDarken, $lightBlue) ;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  //margin-top: 20px;
  
  max-width: 790px;
  //padding: 10px;
  padding-top: 0;

  #smallTxt {
    text-align: center;
    color: $fontNew;
    //font-family: 'Roboto', sans-serif;
    font-size: 18px;
    //line-height: 2;
    word-wrap: break-word;
    margin: 10px;
    padding: 20px;
  }
}

footer {
  display: flex;
  //flex-direction: column;
  justify-content: space-between;
  min-height: 280px;
  color: rgb(209, 197, 197);
  background-color: rgb(43, 41, 49);
  //margin-top: 10%;
  //padding: 20px 10px 0 30px;
  padding: 10px 20px 0 20px;
  clear: both;
  position: relative;
  margin-top: 20px;

}
.footerTitle {
  font-size: 22px;
  height: 28px;
}

#icons-vraper {
  width: 30%;
  min-width: 200px;
  //text-align: center;
    list-style: none;
  text-align: start;
  //margin-left: 15%;}
  margin-top: 5px;
  h4 {
    font-weight: normal;
    font-size: 16px;
  }
  .fa-phone {
    text-align: center;
    padding: 0;
    height: 18px;
    width: 30px;
    color: darkgray;
  }
  .fa-map-marker-alt {
    width: 30px;
  }
}

#icons-vraper ul {
  margin: 0 auto;
 
}

.icons {
  //background-color: rgb(167, 231, 6);
  //width: 30%;
  min-width: 200px;
  margin-bottom: unset;
  //	min-height: 100px;
  //height: 80%;
 // color: white;
  //display: inline;
  text-align: center;
  //padding-bottom: 20px;
}

#mapTxt {
  width: 40%;
  min-height: 60px;
  overflow: hidden;
 
}

#map {
  //left: 25%;
  width: 100%;
  height: 220px;
  overflow: hidden;
  list-style: none;
  //height:80%;
}

#proizvodiFooter {
  text-align: center;
  font-size: 14px;
  width: 25%;
  min-height: 60px;
  #innerProizvodi {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-gap: 5px;
  }

  a {
    display: block;
    color: white;
  }
}

#copyRight {
  margin: 0;
  color: darkgray;
  background-color: rgb(43, 41, 49);
  border-top: 1px solid rgb(79, 77, 85);
  text-align: center;
  font-size: 14px;
}

/* .fa {
  padding: 16px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  margin-top: 5px;
} */

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-instagram {
  background: rgb(39, 81, 219);
  color: white;
}

.burger {
  position: absolute;
  right: 20px;
  cursor: pointer;
  display: none;
}

.burger div {
  background-color: rgb(226, 226, 226);
  height: 3px;
  margin: 5px;
  transition: all 0.3s ease;
  width: 25px;
}

@media screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
  .quickContact {
    height: 23px;
    font-size: 12px;
    // dal treba da se izbacii
    #telefon {
      margin: 0 auto;
    }
  }
  .icons {
    display: inline-block;
  }

  footer {
    padding: 5px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: flex;
    //flex-direction: column;
    justify-content: space-between;
    // pos absulute skinut zbog copy problema wrv nece ni trebati
    //position: absolute;
    #icons-vraper,
    .icons,
    #mapTxt,
    #map,
    #proizvodiFooter {
      text-align: center;
      width: 100%;
      margin-top: 10px;
      padding: 0;
    }
    #icons-vraper {
      margin-left: 20px;
    }
  }


  .nav-links {
    //-webkit-tap-highlight-color: unset;
    background-image: url("../aaaa.jpg");
    z-index: 999;
    align-items: center;
    background-color: $lightBlue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 72vh;
    position: absolute;
    right: 0px;
    top: 57px;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
    width: 45%;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    z-index: 5;
    display: block;
  }

  .logo {
    position: relative;
    top: -2px;
    padding: 0 0 5px 0;
    width: 62px;
    left: -10%;
    border-bottom: 1px solid whitesmoke;
  }
  #bato {
    font-size: 14px;
    letter-spacing: 5px;
  }
  #alpvc {
    font-size: 8.5px;
    letter-spacing: 1.2px;
    color: $orange;
  }
  nav {
    height: 60px;
  }
  #gmail {
    display: none;
  }

  #mainContent {
    display: flex;
    flex-direction: column;
    #fancyParagraf {
      width: 100%;
      line-height: 1;
      #smallTxt {
        font-size: 16px;
        font-weight: normal;
      }
    }
  }
  .dropdown {
    display: none;
  }
  .noDisplay {
    display: inline;
  }
}

////////////////////////////////////////end of toggle class
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

#mainContent {
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 20px;
  //background-color: slategrey;
  width: 90%;
  display: block;
}

#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  //width: 30px;
  height: 50px;
  font-size: 18px;
  border-radius: 10px;
  background-color: $darkBlue;
  z-index: 6;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  transform: rotate(90deg);
  text-align: center;
  padding: 10px;
}

#topBtn:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

#activeNav {
  text-decoration: none;
  color: orangered;
  /* font-size: 15px; */
  border-top: 1px solid white;
  //font-weight: bold;
  margin: 5px 0 0 0;
  // letter-spacing: 2px;
  padding-top: 5px;
  z-index: 10;
  font-weight: bold;
  //font: 15px/1.5 Helvetica,sans-serif;
}
