* {
  font-family: $abel;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.quickContact {
  width: 100%;
  background-color: $lightBlue;
  display: flex;
  height: 29px;
  color: whitesmoke;
  justify-content: space-around;
  padding: 5px 30px 0 30px;
  top: 0;
  border-bottom: 1px solid rgba(255, 252, 252, 0.473);
  #gmail,
  #telefon {
    color: orange;
    a {
      color: white;
      text-decoration: none;
    }
  }
  #broj {
    position: absolute;
    left: 220px;
  }
}

nav {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 90px;
  background-color: $lightBlue;
  color: whitesmoke;
  z-index: 3;
}

/*dodato owo gore*/
.nav-links li a:hover {
  color: #e8491d;
  font-weight: bold;
}

.logo {
  position: relative;
  top: 0;
  padding: 0 0 5px 0;
  width: 92.5px;
  left: -10%;
  border-bottom: 1px solid whitesmoke;
}
#bato {
  font-size: 20px;
  letter-spacing: 9px;
  font-family: 'Orbitron', sans-serif;
}

.nav-links {
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-top: 15px;
  right: 0;

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: whitesmoke;
  }
}

#home {
  color: $orange;
  /* font-size: 15px; */
  border-top: 1px solid white;
  font-weight: bold;
  margin: 5px 0 0 0;
  letter-spacing: 2px;
  padding-top: 5px;
  font-weight: bold;
  //font: 15px/1.5 Helvetica,sans-serif;
}

#alpvc {
  font-size: 12px;
  letter-spacing: 2px;
  color: #e8491d;
  font-weight: bold;
}

#fancyParagraf {
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
  border: #ccc solid 1px;
  //text-align: center;
  //margin:  5% 5% 5% 10%;
  //width: 50%;
  padding: 20px;
  background-color: #e6e6e6;

  #bigTxt {
    font-family: 'Roboto', sans-serif;
    //margin:0 auto;
    font-size: 20px;
    font-weight: 200;
    margin: 0;
    padding: 0;
  }

  #smallTxt {
    color: rgb(22, 21, 21);
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 17px;
    line-height: 2;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
  }
}

footer {
  display: flex;
  //flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
  color: rgb(209, 197, 197);
  background-color: rgb(0, 0, 0);
  margin-top: 10%;
  //padding: 20px 10px 0 30px;
  padding: 30px;
}

#icons-vraper {
  width: 25%;
  text-align: center;
  h4 {
    font-weight: normal;
  }
  .fa-phone {
    padding: 0;
    height: 20px;
    width: 30px;
  }
  .fa-map-marker-alt {
    width: 30px;
  }
}

.icons {
  //background-color: rgb(167, 231, 6);
  //width: 30%;
  min-width: 100px;
  //	min-height: 100px;
  //height: 80%;
  color: white;
  //display: inline;
  text-align: center;
  padding-bottom: 20px;
}

#mapTxt {
  left: 25%;
  width: 35%;
  min-height: 60px;
  height: 30vh;
  overflow: hidden;
  //height:80%;
}

#map {
  //left: 25%;
  width: 100%;
  min-height: 60px;
  height: 30vh;
  overflow: hidden;
  //height:80%;
}

#proizvodiFooter {
  font-size: 14px;
  width: 30%;
  min-height: 60px;
  background-color: rgb(177, 0, 0);
  div {
    display: inline-block;
  }
  a {
    display: block;
    color: white;
    text-decoration: none;
  }
}

.fa {
  padding: 16px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  margin-top: 5px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-instagram {
  background: rgb(39, 81, 219);
  color: white;
}

.burger {
  cursor: pointer;
  display: none;
}

.burger div {
  background-color: rgb(226, 226, 226);
  height: 3px;
  margin: 5px;
  transition: all 0.3s ease;
  width: 25px;
}

@media screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
  .quickContact {
    height: 23px;
    font-size: 12px;
  }
  .icons {
    display: inline-block;
  }

  footer {
    padding: 5px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    #icons-vraper,
    .icons,
    #mapTxt,
    #map,
    #proizvodiFooter {
      text-align: center;
      width: 100%;
      margin-top: 10px;
      padding: 0;
    }
  }

  .nav-links {
    z-index: 4;
    align-items: center;
    background-color: $lightBlue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 72vh;
    position: absolute;
    right: 0px;
    top: 54px;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    width: 45%;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    z-index: 5;
    display: block;
  }

  .logo {
    position: relative;
    top: 0;
    padding: 0 0 5px 0;
    width: 62px;
    left: -10%;
    border-bottom: 1px solid whitesmoke;
  }
  #bato {
    font-size: 14px;
    letter-spacing: 5px;
  }
  #alpvc {
    font-size: 8.5px;
    letter-spacing: 1.2px;
    color: $orange;
  }
  nav {
    height: 70px;
  }
  #gmail {
    display: none;
  }
  #mainContent {
    display: flex;
    flex-direction: column;
    #fancyParagraf {
      width: 100%;
      margin: 0;
      line-height: 1;
      #smallTxt {
        font-size: 18px;
      }
    }
  }
}

////////////////////////////////////////end of toggle class
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

body {
  background-color: #f4f4f4;
}

#mainContent {
  //margin-top: 670px;
  max-width: 1500px;
  margin: 0 auto;
  background-color: #f4f4f4;
  width: 90%;
  display: block;
  //display: flex;
  //flex-direction: column;
  // margin-left:10%;
}
.aside {
  //  padding: 10px;
  //	max-width: 1500px;

  border: #ccc solid 1px;
  background-color: #e6e6e6;
  margin: 0 auto;
  margin-top: 10px;
  // margin:20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // float: right;
  a {
    color: rgb(88, 150, 96);
    list-style: none;
    text-decoration: none;
    text-align: center;
  }
}
