.kontaktAside {
  max-width: 800px;
  //width: 80%;
  background-color: $mainBackgroun;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 70px;
  overflow: hidden;
  border: 1px solid $lightBlue;
  img {
    width: 100%;
    height: 100%;
  }
}

#smallImgKontakt {
  max-width: 800px;
  //height: 350px;
  min-height: 350px;
  background-color: $mainBackgroun;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  min-height: 250px;
  grid-gap: 10px;
  overflow: hidden;
  img {
    min-width: 250px;
    min-height: 350px;
  }
}

@media screen and (max-width: 350px) {
  .kontaktAside,
  #smallImgKontakt,
  #bigImgKontakt {
    width: 100%;
  }
}



//section 

section {
  margin: 20px auto;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .kontakt-map {
    display: flex;
    border-top: 5px solid #485867;
    border-bottom: 5px solid #485867;
    border-right: 10px solid #485867;
    //border-left: 50px solid #485867;
    //max-height: 100%;
    height: fit-content;
    //border: 1px solid green;
    //width: 60%;
    max-width: 550px;
    background: #485867;
    //overflow: hidden;
    .plane {
      width: 50px;
      height: 100%;
      background:  #485867;
      svg {
      width: 30px;

      height: 30px;
      fill:  darken($color: $lightBlueDarken, $amount: 7);
      margin: 10px;
      }
    }
    img {
      background-size: cover;
      background-repeat: repeat;
    }
  }
}

.contact-title {
  //margin-top: 20px;
  //background: darken($color: $lightBlueDarken, $amount: 7);
  color: $fontNew;
  text-align: center;
  text-transform: uppercase;
  h1{
    font-size: 25px;
    line-height: 10px;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 16px;
  }
}
.contact-form {
  height: min-content;
  width: 100%;
  background: darken($color: $lightBlueDarken, $amount: 5);

}

form {
  display: flex;
  flex-direction: column;
  height: fit-content;
  //width: 490px;
  text-align: center;
  //margin-top: 50px;
  transition: all 4s ease-in-out;
 // background: darken($color: $lightBlueDarken, $amount: 7);

}

.form-control {
  //text-align: center;
  //max-width: 400px;
  height: 55px;
  width: 90%;
  background: transparent;
  //background: darken($color: $lightBlueDarken, $amount: 7);
  border: none;
  outline: none;
  border-bottom: 1px solid orange;
  //color: darken($color: $lightBlueDarken, $amount: 7);
  font-size: 18px;
  margin: 5px auto;
  text-align: start;
  color: yellow;  
}

textarea {
  height: 200px !important;

}

input {
  height: 45px;
  color:orange;
  color: yellow;

  //background: $orange;

}

form .submit {  
  background: #ff5722;
  border: none;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 40px;
  margin: 20px auto;


}

    .plane {
      width: 50px;
      height: 100%;
      background:  #485867;
      svg {
      width: 30px;

      height: 30px;
      fill:  darken($color: $lightBlueDarken, $amount: 7);
      margin: 10px;
      }
    }

form .submit:hover {
  background-color: #6ff857;
  cursor: pointer;

}
@media(max-width: 800px) {
  section {
    flex-direction: column;
    justify-content: center;
    .info-outer {
      margin: 20px 0;
      width: 100%;
      a p {
        flex: 1;
      }
    }
    .kontakt-map {
      max-width: 100%;
      width: 100%;
      flex-direction: column;
      border-left: 10px solid #485867;
      border-top: none;
      .plane svg {
        margin-left: 0;
      }
      #kontaktirajte-nas {
        position: relative;
        top: -40px;
        color:  darken($color: $lightBlueDarken, $amount: 7);
        font-size: 20px;
      }
      //height: 65vh;
      //background: black;
    }
  }
}

// //contact info
// .contact-info {
//   width: fit-content;
//   //background: red;
//   margin-right: 2px;
//   border-top: 5px solid #485867;
//   border-bottom: 5px solid #485867;



//   /* transform: translateX(-50%);
//   opacity: 1; */
  
// }
// .contact-info-item {
//   min-width: fit-content;
//   border: none;

//   //background:rgba(255, 255, 255, 0.7);
//   background: darken($color: $orange, $amount: 3);
//   //opacity: 0.7;
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-start;
//   align-items: center;
//   //border: 1px solid $secondary-color;
  
//   height: 50px;
//   //margin-top: 15px;
//   padding: 0 10px;
//     a {
//     display: flex;
//     //color:  red ;
    
//       svg {
//         position: relative;
//         top: 15px;
//       }
//     }
//     svg {
//       width: 30px;
//       height: 30px;
//       //fill: $lightBlueDarken;
//       fill:  darken($color: $lightBlueDarken, $amount: 7);
//       margin-right: 10px;
//     }
//     p {
//       font-size: 18px;
//       background: darken($color: $lightBlueDarken, $amount: 7);
//       //color:darken($color: $lightBlueDarken, $amount: 7);
//       color: $fontNew;
//       //width: 182px;
//       padding-top: 10px;
//       //border-left: 1px solid $lightBlueDarken;
//       height: 100%;
//       flex: 1;
//     }
 
// }
// .contact-info-item:nth-child(1) {
//   margin-top: 0;
// }

// .contact-info-item:nth-child(6):hover,
// .contact-info-item:nth-child(4):hover,
// .contact-info-item:nth-child(5):hover {
//   svg {
//     fill: black;
//     transition: ease-in all;
//   }
// }

.info-outer {
  min-width: fit-content;
  min-height: fit-content;
  width: 100%;
  display: flex;
  padding: 5px 10px 5px 0;
  background: #485867;
  width: 40%;
  margin-right: 10px;

  
    .info-icons {
      width: 50px;
      background: #485867;
      //padding: 10px;
      svg {
        margin: 0 10px;
        margin-top: 10px;
        width: 30px;
        height: 30px;
        fill: darken($color: $lightBlueDarken, $amount: 7);

      }
      svg:nth-child(1) {
        margin-top: 10px;
      }
      svg:nth-child(2) {
        margin-top: 14px;
      }      
      svg:nth-child(3) {
        margin-top: 13px;
      }
      svg:nth-child(4) {
        margin-top: 14px;
      }
      svg:nth-child(5) {
        margin-top: 16px;
      }            
    }

    .info-info {
      min-width: fit-content;
      background: darken($color: $lightBlueDarken, $amount: 5);
      flex: 1;
      p {
        min-width: fit-content;
        //margin: 12px;
        margin: 0 10px;
        margin-top: 10px;
        height: 40px; 
        font-size: 18px; 
        color: $fontNew
              

      }
    }
}

