.kontaktAside {
  max-width: 800px;
  //width: 80%;
  background-color: $mainBackgroun;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 70px;
  overflow: hidden;
  border: 1px solid $lightBlue;
  img {
    width: 100%;
    height: 100%;
  }
}

#smallImgKontakt {
  max-width: 800px;
  //height: 350px;
  min-height: 350px;
  background-color: $mainBackgroun;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  min-height: 250px;
  grid-gap: 10px;
  overflow: hidden;
  img {
    min-width: 250px;
    min-height: 350px;
  }
}

@media screen and (max-width: 350px) {
  .kontaktAside,
  #smallImgKontakt,
  #bigImgKontakt {
    width: 100%;
  }
}


.contact-title {
  text-align: center;
  text-transform: uppercase;
  h1{
    font-size: 25px;
    line-height: 10px;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 16px;
  }
}

form {
  margin: 0 auto;
  text-align: center;
  //margin-top: 50px;
  transition: all 4s ease-in-out;
  color: red;
}

.form-control {
  //text-align: center;
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: rgb(104, 0, 0);
  font-size: 18px;
  margin-bottom: 16px;
}

input {
  height: 45px;
  color: rgb(88, 10, 10);

}

form .submit {  
  background: #ff5722;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

form .submit:hover {
  background-color: #6ff857;
  cursor: pointer;

}