.kontaktAside {
  max-width: 800px;
  background-color: $mainBackgroun;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 70px;
  overflow: hidden;
  border: 1px solid $lightBlue;
  img {
    width: 100%;
    height: 100%;
  }
}

#smallImgKontakt {
  max-width: 800px;
  min-height: 350px;
  background-color: $mainBackgroun;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  min-height: 250px;
  grid-gap: 10px;
  overflow: hidden;
  img {
    min-width: 250px;
    min-height: 350px;
  }
}

@media screen and (max-width: 350px) {
  .kontaktAside,
  #smallImgKontakt,
  #bigImgKontakt {
    width: 100%;
  }
}
section {
  margin: 20px auto;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .kontakt-map {
    display: flex;
    border-top: 5px solid #485867;
    border-bottom: 5px solid #485867;
    border-right: 10px solid #485867;
    height: fit-content;
    max-width: 550px;
    background: #485867;

    .plane {
      width: 50px;
      height: 100%;
      background:  #485867;
      svg {
      width: 30px;

      height: 30px;
      fill:  darken($color: $lightBlueDarken, $amount: 7);
      margin: 10px;
      }
    }
    img {
      background-size: cover;
      background-repeat: repeat;
    }
  }
}

.contact-title {
  color: $fontNew;
  text-align: center;
  text-transform: uppercase;
  h1{
    font-size: 25px;
    line-height: 10px;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 16px;
  }
}
.contact-form {
  height: min-content;
  width: 100%;
  background: darken($color: $lightBlueDarken, $amount: 5);

}

form {
  display: flex;
  flex-direction: column;
  height: fit-content;
  text-align: center;
  transition: all 4s ease-in-out;
}

.form-control {
  height: 55px;
  width: 90%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid orange;
  //color: darken($color: $lightBlueDarken, $amount: 7);
  font-size: 18px;
  margin: 5px auto;
  text-align: start;
  color: yellow;  
}

textarea {
  height: 200px !important;

}

input {
  height: 45px;
  color:orange;
  color: yellow;
}

form .submit {  
  background: #ff5722;
  border: none;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 40px;
  margin: 20px auto;
}

    .plane {
      width: 50px;
      height: 100%;
      background:  #485867;
      svg {
      width: 30px;

      height: 30px;
      fill:  darken($color: $lightBlueDarken, $amount: 7);
      margin: 10px;
      }
    }

form .submit:hover {
  background-color: #6ff857;
  cursor: pointer;

}
@media(max-width: 800px) {
  section {
    flex-direction: column;
    justify-content: center;
    .info-outer {
      margin: 20px 0;
      width: 100%;
      a p {
        flex: 1;
      }
    }
    .kontakt-map {
      max-width: 100%;
      width: 100%;
      flex-direction: column;
      border-left: 10px solid #485867;
      border-top: none;
      .plane svg {
        margin-left: 0;
      }
      #kontaktirajte-nas {
        position: relative;
        top: -40px;
        color:  darken($color: $lightBlueDarken, $amount: 7);
        font-size: 20px;
      }
    }
  }
}
.info-outer {
  min-width: fit-content;
  min-height: fit-content;
  width: 100%;
  display: flex;
  padding: 5px 10px 5px 0;
  background: #485867;
  width: 40%;
  margin-right: 10px;

    .info-icons {
      width: 50px;
      background: #485867;
      //padding: 10px;
      svg {
        margin: 0 10px;
        margin-top: 10px;
        width: 30px;
        height: 30px;
        fill: darken($color: $lightBlueDarken, $amount: 7);

      }
      svg:nth-child(1) {
        margin-top: 10px;
      }
      svg:nth-child(2) {
        margin-top: 14px;
      }      
      svg:nth-child(3) {
        margin-top: 13px;
      }
      svg:nth-child(4) {
        margin-top: 14px;
      }
      svg:nth-child(5) {
        margin-top: 16px;
      }            
    }

    .info-info {
      min-width: fit-content;
      background: darken($color: $lightBlueDarken, $amount: 5);
      flex: 1;
      p {
        min-width: fit-content;
        margin: 0 10px;
        margin-top: 10px;
        height: 40px; 
        font-size: 18px; 
        color: $fontNew
              

      }
    }
}

