@media screen and (max-width: 768px) {
	.logo {
		width: 30%;
	}
}

@media only screen and (max-width: 300px) {

    .prev, .next, .text {font-size:11px}
	.mainSlideContainer {
		height: 40vh;
	}


	.triangle {
		width: 0;
	height: 0;
	border: 0 solid transparent;
	border-bottom-width: 42px;
	border-top-width: 38px;
	border-left: 15px solid whitesmoke;
	
	}
		.icons {
		/* width: 0;
		height: 0; */
		background-color: red;
	}
	.logo {
		width: 70%;
	}
}
