.parent-box {
  background-color: #ddd;
  display: flex;
  background-color: $mainBackgroun;
/*   animation: show 2s forwards;
  opacity: 0;
  transform: rotateY(-40deg);
  animation-delay: 0.7s; */

 //
  
}
.owlShow {
  animation: show 2s forwards ease-in;
  position: relative;
  left: -1500px;
  animation-delay: 0.7;
  opacity: 0;
}

@keyframes show {
  0% {opacity:0.2;transform: rotateY(-190deg);}
/*   60% {transform: rotateY(0deg);}
  80% {transform: rotateY(-50deg);} */
  100% {opacity:1;transform: rotateY(0deg);}
}


.box {
  height: 350px;
  min-width: 250px;
  background-color: $mainBackgroun;
  animation: show 2s forwards;
  opacity: 0;
  transform: rotateY(-40deg);
  animation-delay: 0.7s;
  // margin: 0 auto;
  // margin-left: 5px;
  // margin-right: 5px;
  margin: 10px;
  img {
    width: 250px;
    height: 80%;
    max-width: 250px;
    margin: 0 auto;
  }
  p {
    text-align: center;
  }
}

.owl-carousel .owl-nav button.owl-prev {
  text-decoration: none;
  background: none;
  color: rgb(63, 63, 63);
  border: none;
  padding: 0 !important;
  font: inherit;
  position: absolute;
  top: 43%;
  left: -20px;
  //transform: translateY(-50%);
  width:40px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  //color: $darkBlue;
    span {
    display: none;
  }
  i {
    padding: 0;
    height: 27px;
    width: 30px;
    //right: 15px;
    margin-top: 7px;
  }
}
.owl-carousel .owl-nav button.owl-prev:focus {outline: none;}
.owl-carousel .owl-nav button.owl-next:focus {outline: none;}
/*  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    font-family: 'fontAwesome';

} */
.owl-carousel .owl-nav button.owl-next {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  position: absolute;
  top: 43%;
  right: -20px;
  width: 40px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  text-align: center;
  span {
    display: none;
  }
  i {
    padding: 0;
    height: 27px;
    width: 30px;
    //right: 15px;
    margin-top: 7px;
    
  }
 
}
 /* .owl-carousel .owl-nav button.owl-next:after {
    content: "&#10094";
  } */
/*
.owl-carousel .owl-nav .owl-prev:before{
    // fa-chevron-left
    content: "\f053";
    margin-right:10px;
}
.owl-carousel .owl-nav .owl-next:after{
    //fa-chevron-right
    content: "\f054";
    margin-right:10px;
} */

// galery start 

.column {
  float: left;
  width: 12vh;
  //padding: 10px;
  height: 12vh;
  max-height: 150px;
  overflow: hidden;
  border: 1px solid #D6D6D6;
  margin: 5px;
  

}
.column:hover {
  border: 1px solid #F46517;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer;
  overflow: hidden;
  
  //background-size: cover; 
}


.column img:hover {
  opacity: 1;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.containerProduct {
  margin-top: 20px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  //width: 60vh;
  //height: 50vh;
  width: 100%;
  
  max-width: 600px;
  max-height: 450px;
  position: relative;
  //display: none;
  padding: 0;
  img {
    object-fit: cover;

  }
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

// galery end

.product {
  border-top: 1px solid darkgray;

  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  //position: relative;
  padding: 20px 0;
 // margin-top: 20px;
  display: flex;
  flex-direction: row;
  //width: 90%;
  max-width: 800px;

  align-items: center;
  justify-content: space-between;
}

.productInfo ul li {
  list-style: none;
}

.productGalery {
  width: 60%;
}

@media screen and (max-width: 800px) {
  .product {
    margin: 0;
    width: 100%;
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
/*   .containerProduct {
    width: 100%;
    height: 100%;
  } */
  .productInfo {
    align-self: flex-end;
  }
   .productGalery {
    align-self: flex-start;
    position: relative;
    top: -100px;
  }
   .productInfo {
     margin-left: 20px;
   }

    .productGalery {
    //height: 50%;
    width: 100%;
  }

  
}
@media screen and (max-width: 450px) {
  .productInfo {
     align-self: flex-start;
   }
  .productGalery {
    top: 0; 
 }
  
}

@media screen and (max-width: 350px) {
  .owl-carousel .owl-nav button.owl-next {
    right: 0;
  }

    .owl-carousel .owl-nav button.owl-prev {
    left: 0;
  }
  .containerProduct {
    height: 40vh;
    min-height: 300px;
    width: 100%;
  }
}
// product name animation
.productName {
  font-size: 30px;
  font-weight: bolder;
  position: relative;
  right: -200px;
  opacity: 0;
  animation: productNameAnim 1.2s forwards;
  animation-delay: 0.7s;
  //display: none;
}

@keyframes productNameAnim {
 0% {opacity: 0;}
 100% {opacity: 1; right: 0;}
 
}

//product details animation

.productDetails li {
  position: relative;
  top: 30px;
  animation: productDetailAnim 1s linear forwards;
  opacity: 0;
  //animation-delay: 1s;
}
@keyframes productDetailAnim {
  0% {opacity: 0;}
  20% {opacity: 1;}
  100% {opacity: 1; top: 0;}
}
.productDetails li:nth-child(1) {
  animation-delay: 0.7s ;
}
.productDetails li:nth-child(2) {
  animation-delay: 0.8s ;
}
.productDetails li:nth-child(3) {
  animation-delay: 0.9s ;
}

.details {
  box-sizing: border-box;
  padding: 20px; 
}  

.details h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-align: center;
  line-height: 20px;

      }
.details h3 span {
  font-size: 16px;
  color: #F46517;
}

.box a {
  text-decoration: none;
  color:inherit;
}

.adressIcon {
  fill: darkgray;
  height: 18px;
  width: 25px;
  position: relative;
  //margin-right: 8px;
  top: -1px;
 // margin-top: 5px;
  //margin-top: 7px;
}

#icons-vraper ul li {
  list-style: none;
  text-align: start;
  //margin-left: 15%;
  margin-top: 5px;

}

#icons-vraper ul {
  margin: 0 auto;
 
}

.contactFooter {
  margin: 0 auto;
}

.iconsFillInsta,.iconsFillFace{
  fill: darkgray;
  margin: 5px 0 0 5px;
  width: 25px;
  height: 25px;
}

.iconsFillInsta:hover, .iconsFillFace:hover {
fill: #F46517;
}

.iconsNew {
  text-align: start;
  margin-top: 20px;
}

#followId {
  color: #d1c5c5;
  margin-bottom: unset;
  font-size: 1rem;
  font-weight: 400;

}

.productAnimatedTitle {
  height: 70px;
}
