.parent-box {
  background-color: #ddd;
  display: flex;
  background-color: $mainBackgroun;
/*   animation: show 2s forwards;
  opacity: 0;
  transform: rotateY(-40deg);
  animation-delay: 0.7s; */

 //
  
}
/* .owlShow {
  animation: show 2s forwards ease-in;
  position: relative;
  left: -1500px;
  animation-delay: 0.7;
  opacity: 0;
}

@keyframes show {
  0% {opacity:0.2;transform: rotateY(-190deg);}

  100% {opacity:1;transform: rotateY(0deg);}
} */


.box {
  height: 342px;
  width: 250px;
  background-color: $orange;
/*   animation: show 2s forwards;
  opacity: 0;
  transform: rotateY(-40deg);
  animation-delay: 0.7s; */
  border-radius: 5px;
  background: linear-gradient($lightBlueDarken 80%, $orange);
  overflow: hidden;  
  margin: 10px auto;

  img {
    width: 250px;
    height: 280px;
    max-width: 250px;
    margin: 0 auto;
  }
//nzm cemu ovo sluzi
  // p {
  //   text-align: center;
  //   color: red;
  //   text-transform: uppercase;
  // }
}

.owl-carousel .owl-nav button.owl-prev {
  text-decoration: none;
  background: none;
  color:  darken($color: $lightBlueDarken, $amount: 7);
  border: none;
  padding: 0 !important;
  font: inherit;
  position: absolute;
  top: 43%;
  left: -20px;
  //transform: translateY(-50%);
  width:40px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  //color: $darkBlue;
    span {
    display: none;
  }
/*   i {
    padding: 0;
    height: 27px;
    width: 30px;
    //right: 15px;
    margin-top: 7px;
  } */
}
.owl-carousel .owl-nav button.owl-prev:focus {outline: none;}
.owl-carousel .owl-nav button.owl-next:focus {outline: none;}
/*  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    font-family: 'fontAwesome';

} */
.owl-carousel .owl-nav button.owl-next {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  position: absolute;
  top: 43%;
  right: -20px;
  width: 40px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  text-align: center;
  color:  darken($color: $lightBlueDarken, $amount: 7);
  span {
    display: none;
  }
/*   i {
    padding: 0;
    height: 27px;
    width: 30px;
    //right: 15px;
    margin-top: 7px;
    
  } */
 
}
 /* .owl-carousel .owl-nav button.owl-next:after {
    content: "&#10094";
  } */
/*
.owl-carousel .owl-nav .owl-prev:before{
    // fa-chevron-left
    content: "\f053";
    margin-right:10px;
}
.owl-carousel .owl-nav .owl-next:after{
    //fa-chevron-right
    content: "\f054";
    margin-right:10px;
} */

// galery start 

.column {
  float: left;
  width: 120px;
  //padding: 10px;
  height: 100px;
  //max-height: 150px;
  overflow: hidden;
  border: 1px solid #D6D6D6;
  margin: 5px;
  

}
.column:hover {
  border: 1px solid #F46517;
}

/* Style the images inside the grid */
.column img {
  width: 100%;
  height: 100%;
  opacity: 0.8; 
  cursor: pointer;
  overflow: hidden;
  
  
  //background-size: cover; 
}


.column img:hover {
  opacity: 1;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.containerProduct {

  background: linear-gradient( darken($color: $lightBlueDarken, $amount: 7) 80%, darken($color: $lightBlueDarken, $amount: 5));
  margin-bottom: 20px;
  margin-right: 10px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50vh;
  

  overflow: hidden;
  display: flex;
  flex-direction: column;
  
 

  position: relative;
  padding: 0;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-size: cover;


  }
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
  .details {
    height: fit-content;
  }
}

// galery end

.product {
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;

  margin: 20px auto;
  padding: 20px 0;
  display: flex;
  max-width: 1200px;
  min-width: fit-content;
  height: fit-content;
  //align-items: center;
  justify-content: flex-start;
}

.productGalery {
  width: 50%;
  max-width: 600px;
}
/* // product name animation
.productName {
  font-size: 30px;
  font-weight: bolder;
  position: relative;
  right: -200px;
  opacity: 0;
  animation: productNameAnim 1.2s forwards;
  animation-delay: 0.7s;
  //display: none;
}

@keyframes productNameAnim {
 0% {opacity: 0;}
 100% {opacity: 1; right: 0;}
 
}

//product details animation

.productDetails li {
  position: relative;
  top: 30px;
  animation: productDetailAnim 1s linear forwards;
  opacity: 0;
  //animation-delay: 1s;
}
@keyframes productDetailAnim {
  0% {opacity: 0;}
  20% {opacity: 1;}
  100% {opacity: 1; top: 0;}
}
.productDetails li:nth-child(1) {
  animation-delay: 0.7s ;
}
.productDetails li:nth-child(2) {
  animation-delay: 0.8s ;
}
.productDetails li:nth-child(3) {
  animation-delay: 0.9s ;
} */

.productInfo {
  //max-width: 40%;
  height: fit-content;
  align-self: flex-start;
  margin-left: 3%;

  .info-outer {
    //width: 180px;
    //max-width: 300px;
    min-width: fit-content;
    //width: fit-content;
    //max-width: fit-content;
    .info-icons {
      width: 40px;
      svg {
        width: 24px;
        height: 24px;
        position: relative;
        left: -2px;
      }
      svg:nth-child(2) {
        top: 5px;
      }
      svg:nth-child(3) {
        top: 15px;
      }
    }
    height: fit-content;

    .info-info {
      p {
        height: fit-content;
        min-height: 40px;
        max-width: 230px;
        //width: 180px;
        color: $fontNew;
      }
    }
  }
}

.productInfo .home-title {
  text-align: center;
  line-height: 27px;
}

.details {
  box-sizing: border-box;
  padding: 10px; 
  text-transform: uppercase;  
}  

.details h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  color: $fontNew;

}

.details h3 span {
  font-size: 16px;
  color: #272f36;

}

.box a {
  text-decoration: none;
  color:inherit;
}

.adressIcon {
  fill: darkgray;
  height: 18px;
  width: 25px;
  position: relative;
  top: 4px;
/*   &.gmail-footer-icon {
    top: 5px;
  }
  &.phone-footer-icon {
    top: 5px;;
  } */
}


.contactFooter {
  margin: 0 auto;
}

.iconsFillInsta,.iconsFillFace{
  fill: darkgray;
  margin: 5px 0 0 5px;
  width: 25px;
  height: 25px;
  display: inline-block;
}

.iconsFillInsta:hover, .iconsFillFace:hover {
fill: #F46517;
}

.iconsNew {
  text-align: center;
  margin-top: 20px;
  p {
    font-size: 16px;
  }
  a {
    text-decoration: none;
  }
}

.followId {
  color: darkgrey;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
}

.productAnimatedTitle {
  height: 70px;
}
.containerProduct {
  /* border: 7px solid $orange; */
.part-one {
  left: 0;
  //top: -3px;
  width: 30%;
  height: 10px;
  transform: none;
  background: $mainBackgroun;
    &.part-one:before {
    border-width: 10px 10px 0 0;
    border-color: $mainBackgroun transparent transparent transparent;
    top: -10px;
  }

&.part-one::after {
/*   border-color:  transparent $mainBackgroun transparent transparent;
 */  display: none;
}

  &.part-two {
    &.product-galery-edge {
      transform: rotateX(180deg);
      right: 0;
      background: $mainBackgroun;
      position: relative;
      top: -15px;
      height: 15px;
      left: 173px;

/*       bottom: 0;
      bottom: -20px; */
       &.part-one:before {
/*     border-color: $mainBackgroun transparent transparent transparent;
    border-width: 16px 16px 0 0; */
    display: none;
    /* top: -8px;
    right: -100%; */
  }

&.part-one::after {
  border-width: 0 16px 16px 0;
  left: -14px;
  border-color:  transparent $mainBackgroun transparent transparent ;
}
    }
  }
}
}


@media screen and (max-width: 800px) {
  .product {
    margin: 0;
    width: 100%;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    //text-align: center;


  }
  .containerProduct {
    margin: 10px 0;
  
  }
  .productInfo  {
    margin-left: 0%;
    //border-top: 10px solid red;
  }

  .row {
    //margin: 0 auto;
    //text-align: center;
 
/*     display: flex;
    
    justify-content: center; */
    .column {
      margin: 10px 10px 10px 0px;
      align-self: center;
    }
  }
   .productGalery {
    width: 100%;
    align-self: flex-start;
    position: relative;
    //stop: -100px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 420px) {
  .breadcrumb { 
    width: 100%;
    padding: 10px 0;
  }

  ul.breadcrumb li {
  //display: inline;
  a {
  font-size: 16px;
  }

}
}

@media screen and (max-width: 350px) {
  .owl-carousel .owl-nav button.owl-next {
    right: 0;
  }

    .owl-carousel .owl-nav button.owl-prev {
    left: 0;
  }
  .containerProduct {
    height: 40vh;
    min-height: 300px;
    width: 100%;
  }
  .productInfo {
    margin-left: 15px;
   }
}
