$darkBlue: rgb(16, 47, 82);
$lightBlue: #3a4652;
$lightBlueDarken: #2e3944;
$whiteDark: rgb(200, 200, 200);
$whiteLight: rgb(233, 233, 233);
$orange: #4e6070;
$abel: 'Abel', sans-serif;
$bodyBack: rgb(230, 225, 225);
$mainBackgroun: #637280;
$fontNew : #898b8d;
$linearG : liear-gradient(white, blue);
$vitoOrange: #F46517;