$darkBlue: rgb(16, 47, 82);
$lightBlue: #35424e; /*  #5d7187e5; */
$whiteDark: rgb(200, 200, 200);
$whiteLight: rgb(233, 233, 233);
$orange: rgb(255, 102, 0);
$abel: 'Abel', sans-serif;
$bodyBack: rgb(230, 225, 225);
$titloviBlue: #08a8dc;
$mainBackgroun: #f4f4f4;
