@import url("https://fonts.googleapis.com/css?family=Abel&display=swap");
/*  #5d7187e5; */
/*  #5d7187e5; */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,900&display=swap");
* {
  font-family: "Abel", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #637280;
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 250px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.noDisplay {
  display: none;
}

.quickContact {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  top: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #3a4652;
  height: 29px;
  color: whitesmoke;
  padding: 3.5px 40px 0 40px;
  border-bottom: 1px solid rgba(255, 252, 252, 0.473);
}

.quickContact p {
  display: inline;
  margin: 0;
}

.quickContact #telefon {
  margin: 0;
  color: orange;
}

.quickContact #gmail {
  margin: 0;
  float: right;
  color: orange;
}

.quickContact #gmail a {
  color: white;
}

nav {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 90px;
  background-color: #3a4652;
  color: whitesmoke;
  z-index: 5;
  background-position: center;
  background-size: cover;
}

.nav-links {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
  margin: unset;
  position: absolute;
  right: 30px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: whitesmoke;
}

/*dodato owo gore*/
.nav-links li a:hover {
  color: #e8491d;
}

.logoImg {
  position: absolute;
  height: 70px;
  width: 112px;
  left: 20px;
  background-image: url("../images/logoh70.png");
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.logoToHome {
  position: absolute;
  height: inherit;
  width: inherit;
}

.logoImgSmall {
  position: absolute;
  left: 20px;
  background-image: url("../images/logoh48.png");
  height: 48px;
  width: 77px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.burger {
  position: absolute;
  right: 20px;
  cursor: pointer;
  display: none;
}

.burger div {
  background-color: #e2e2e2;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 25px;
}

@media screen and (max-width: 800px) {
  .nav-links {
    z-index: 999;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #3a4652;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 72vh;
    position: absolute;
    right: 0px;
    top: 57px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
    width: 55%;
  }
  .nav-links li {
    opacity: 0;
  }
  nav, .quickContact {
    width: 100%;
  }
  .logoImg {
    left: 20px;
    background-image: url("../images/logoh48.png");
    height: 48px;
    width: 77px;
  }
  .logoToHome {
    position: absolute;
    height: 48px;
    width: 77px;
  }
  body {
    overflow-x: hidden;
  }
  .quickContact {
    height: 23px;
    font-size: 12px;
    top: 0;
  }
  .burger {
    z-index: 5;
    display: block;
  }
  #gmail {
    display: none;
  }
}

/*  END OF TOOGLE */
.home-title {
  text-align: center;
  text-transform: uppercase;
  color: #2e3944;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 30px auto;
}

.home-title h4 {
  font-size: 16px;
  position: relative;
  top: 10px;
  opacity: 0.1;
}

.home-title h3 {
  font-size: 20px;
  position: relative;
  top: 10px;
  opacity: 0.1;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.home-title .title-border {
  width: 80%;
  position: relative;
  border: 1px solid #3a4652;
  margin: 0 auto;
  margin-bottom: 40px;
  opacity: 0;
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}

.show-on-scroll-title-border {
  -webkit-animation: 0.8s show-on-scroll-title-animation ease-in-out forwards;
          animation: 0.8s show-on-scroll-title-animation ease-in-out forwards;
}

@-webkit-keyframes show-on-scroll-title-animation {
  100% {
    top: 15px;
    opacity: 1;
  }
}

@keyframes show-on-scroll-title-animation {
  100% {
    top: 15px;
    opacity: 1;
  }
}

.show-on-scroll-title {
  -webkit-animation: 1s slider-text-anim ease-in-out forwards;
          animation: 1s slider-text-anim ease-in-out forwards;
}

#fancyParagraf {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #2e3944), color-stop(80%, #3a4652));
  background: linear-gradient(#2e3944 20%, #3a4652 80%);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 60px auto;
  max-width: 800px;
  padding-top: 0;
}

#smallTxt {
  position: relative;
  top: 20px;
  opacity: 0;
  text-align: center;
  color: #898b8d;
  font-size: 16px;
  word-wrap: break-word;
  margin: 10px;
  padding: 20px;
  font-family: sans-serif;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 280px;
  color: darkgrey;
  background-color: #28262c;
  padding: 10px 20px 0 20px;
  clear: both;
  position: relative;
  margin-top: 20px;
}

.footerTitle {
  font-size: 20px;
  text-transform: uppercase;
  height: 28px;
}

#icons-vraper {
  width: 25%;
  min-width: 200px;
  list-style: none;
  text-align: start;
  padding-left: 2%;
}

#icons-vraper h4 {
  font-size: 16px;
}

#icons-vraper .fa-phone {
  text-align: center;
  padding: 0;
  height: 18px;
  width: 30px;
  color: darkgray;
}

#icons-vraper .fa-map-marker-alt {
  width: 30px;
}

#icons-vraper .contactFooter ul {
  margin: 0 auto;
  list-style: none;
}

#icons-vraper .contactFooter ul li {
  margin: 10px 0;
}

#icons-vraper .contactFooter ul li:nth-child(1) {
  margin: 0;
}

.icons {
  min-width: 200px;
  margin-bottom: unset;
  text-align: center;
}

#mapTxt {
  width: 40%;
  min-height: 60px;
  overflow: hidden;
}

#map {
  width: 100%;
  height: 220px;
  overflow: hidden;
  list-style: none;
}

#proizvodiFooter {
  text-align: center;
  font-size: 14px;
  width: 25%;
  min-height: 60px;
}

#copyRight {
  padding: 10px;
  margin: 0;
  color: darkgray;
  background-color: #2b2931;
  border-top: 1px solid #4f4d55;
  text-align: center;
  font-size: 14px;
}

/* .fa {
  padding: 16px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  margin-top: 5px;
} */
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */
/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-instagram {
  background: #2751db;
  color: white;
}

@media screen and (max-width: 800px) {
  .icons {
    display: inline-block;
  }
  footer {
    padding: 5px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer #icons-vraper,
  footer .icons,
  footer #mapTxt,
  footer #map,
  footer #proizvodiFooter {
    text-align: center;
    width: 100%;
    margin-top: 10px;
    padding: 0;
  }
  .logo {
    position: relative;
    top: -2px;
    padding: 0 0 5px 0;
    width: 62px;
    left: -10%;
    border-bottom: 1px solid whitesmoke;
  }
  #bato {
    font-size: 14px;
    letter-spacing: 5px;
  }
  #alpvc {
    font-size: 8.5px;
    letter-spacing: 1.2px;
    color: #4e6070;
  }
  nav {
    height: 60px;
    margin-top: 0;
  }
  #mainContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #mainContent #fancyParagraf {
    width: 100%;
    line-height: 1;
  }
  #mainContent #fancyParagraf #smallTxt {
    font-size: 16px;
    font-weight: normal;
  }
  .dropdown {
    display: none;
  }
  .noDisplay {
    display: inline;
  }
  .iconsNew {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 20px auto;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

#mainContent {
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 20px;
  width: 90%;
  display: block;
}

#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 50px;
  font-size: 18px;
  border-radius: 10px;
  background-color: #102f52;
  z-index: 6;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  text-align: center;
  padding: 10px;
}

#topBtn:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

#activeNav {
  text-decoration: none;
  color: orangered;
  border-top: 1px solid white;
  margin: 5px 0 0 0;
  padding-top: 5px;
  z-index: 10;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

#demo {
  margin: 0 auto;
  overflow: hidden;
  max-height: 500px;
  max-width: 1800px;
  margin-top: 40px;
}

.carousel-item {
  max-height: 500px;
  max-width: 1800px;
}

.content {
  height: 100px;
  position: absolute;
  bottom: 0;
  background: black;
  background: rgba(0, 0, 0, 0.6);
  color: #f1f1f1;
  width: 100%;
  padding: 0;
  padding-left: 50px;
}

.carousel-indicators {
  z-index: 2;
}

/* body {
      background: #5d4f4f;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:rgb(199, 107, 107);
      margin: 0;
      padding: 0;
    } */
.swiper-container {
  width: 100%;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 340px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, #2e3944), to(#4e6070));
  background: linear-gradient(#2e3944 80%, #4e6070);
  border-radius: 5px;
  overflow: hidden;
}

.swiper-slide a {
  text-decoration: none;
}

.swiper-slide a .imgBx {
  width: 100%;
  height: 280px;
  max-height: 280px;
  overflow: hidden;
}

.swiper-slide a .imgBx img {
  width: 100%;
  height: 100%;
}

.swiper-slide a .details {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.swiper-slide a .details h3 {
  margin: 0;
  padding: 0;
  font-size: 25px;
  text-align: center;
  line-height: 20px;
  color: #898b8d;
  text-transform: uppercase;
}

.swiper-slide a .details h3 span {
  font-size: 18px;
  color: #272f36;
}

/* @import '_slide.scss'; */
.parent-box {
  background-color: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #637280;
  /*   animation: show 2s forwards;
  opacity: 0;
  transform: rotateY(-40deg);
  animation-delay: 0.7s; */
}

/* .owlShow {
  animation: show 2s forwards ease-in;
  position: relative;
  left: -1500px;
  animation-delay: 0.7;
  opacity: 0;
}

@keyframes show {
  0% {opacity:0.2;transform: rotateY(-190deg);}

  100% {opacity:1;transform: rotateY(0deg);}
} */
.box {
  height: 342px;
  width: 250px;
  background-color: #4e6070;
  /*   animation: show 2s forwards;
  opacity: 0;
  transform: rotateY(-40deg);
  animation-delay: 0.7s; */
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, #2e3944), to(#4e6070));
  background: linear-gradient(#2e3944 80%, #4e6070);
  overflow: hidden;
  margin: 10px auto;
}

.box img {
  width: 250px;
  height: 280px;
  max-width: 250px;
  margin: 0 auto;
}

.owl-carousel .owl-nav button.owl-prev {
  text-decoration: none;
  background: none;
  color: #20272f;
  border: none;
  padding: 0 !important;
  font: inherit;
  position: absolute;
  top: 43%;
  left: -20px;
  width: 40px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  /*   i {
    padding: 0;
    height: 27px;
    width: 30px;
    //right: 15px;
    margin-top: 7px;
  } */
}

.owl-carousel .owl-nav button.owl-prev span {
  display: none;
}

.owl-carousel .owl-nav button.owl-prev:focus {
  outline: none;
}

.owl-carousel .owl-nav button.owl-next:focus {
  outline: none;
}

/*  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    font-family: 'fontAwesome';

} */
.owl-carousel .owl-nav button.owl-next {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  position: absolute;
  top: 43%;
  right: -20px;
  width: 40px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  text-align: center;
  color: #20272f;
  /*   i {
    padding: 0;
    height: 27px;
    width: 30px;
    //right: 15px;
    margin-top: 7px;
    
  } */
}

.owl-carousel .owl-nav button.owl-next span {
  display: none;
}

/* .owl-carousel .owl-nav button.owl-next:after {
    content: "&#10094";
  } */
/*
.owl-carousel .owl-nav .owl-prev:before{
    // fa-chevron-left
    content: "\f053";
    margin-right:10px;
}
.owl-carousel .owl-nav .owl-next:after{
    //fa-chevron-right
    content: "\f054";
    margin-right:10px;
} */
.column {
  float: left;
  width: 120px;
  height: 100px;
  overflow: hidden;
  border: 1px solid #D6D6D6;
  margin: 5px;
}

.column:hover {
  border: 1px solid #F46517;
}

/* Style the images inside the grid */
.column img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  cursor: pointer;
  overflow: hidden;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.containerProduct {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, #20272f), to(#242c35));
  background: linear-gradient(#20272f 80%, #242c35);
  margin-bottom: 20px;
  margin-right: 10px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 0;
}

.containerProduct img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  background-size: cover;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

.closebtn .details {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.product {
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  margin: 20px auto;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.productGalery {
  width: 50%;
  max-width: 600px;
}

/* // product name animation
.productName {
  font-size: 30px;
  font-weight: bolder;
  position: relative;
  right: -200px;
  opacity: 0;
  animation: productNameAnim 1.2s forwards;
  animation-delay: 0.7s;
  //display: none;
}

@keyframes productNameAnim {
 0% {opacity: 0;}
 100% {opacity: 1; right: 0;}
 
}

//product details animation

.productDetails li {
  position: relative;
  top: 30px;
  animation: productDetailAnim 1s linear forwards;
  opacity: 0;
  //animation-delay: 1s;
}
@keyframes productDetailAnim {
  0% {opacity: 0;}
  20% {opacity: 1;}
  100% {opacity: 1; top: 0;}
}
.productDetails li:nth-child(1) {
  animation-delay: 0.7s ;
}
.productDetails li:nth-child(2) {
  animation-delay: 0.8s ;
}
.productDetails li:nth-child(3) {
  animation-delay: 0.9s ;
} */
.productInfo {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 3%;
}

.productInfo .info-outer {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.productInfo .info-outer .info-icons {
  width: 40px;
}

.productInfo .info-outer .info-icons svg {
  width: 24px;
  height: 24px;
  position: relative;
  left: -2px;
}

.productInfo .info-outer .info-icons svg:nth-child(2) {
  top: 5px;
}

.productInfo .info-outer .info-icons svg:nth-child(3) {
  top: 15px;
}

.productInfo .info-outer .info-info p {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 40px;
  max-width: 230px;
  color: #898b8d;
}

.productInfo .home-title {
  text-align: center;
  line-height: 27px;
}

.details {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  text-transform: uppercase;
}

.details h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  color: #898b8d;
}

.details h3 span {
  font-size: 16px;
  color: #272f36;
}

.box a {
  text-decoration: none;
  color: inherit;
}

.adressIcon {
  fill: darkgray;
  height: 18px;
  width: 25px;
  position: relative;
  top: 4px;
  /*   &.gmail-footer-icon {
    top: 5px;
  }
  &.phone-footer-icon {
    top: 5px;;
  } */
}

.contactFooter {
  margin: 0 auto;
}

.iconsFillInsta, .iconsFillFace {
  fill: darkgray;
  margin: 5px 0 0 5px;
  width: 25px;
  height: 25px;
  display: inline-block;
}

.iconsFillInsta:hover, .iconsFillFace:hover {
  fill: #F46517;
}

.iconsNew {
  text-align: center;
  margin-top: 20px;
}

.iconsNew p {
  font-size: 16px;
}

.iconsNew a {
  text-decoration: none;
}

.followId {
  color: darkgrey;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
}

.productAnimatedTitle {
  height: 70px;
}

.containerProduct {
  /* border: 7px solid $orange; */
}

.containerProduct .part-one {
  left: 0;
  width: 30%;
  height: 10px;
  -webkit-transform: none;
          transform: none;
  background: #637280;
}

.containerProduct .part-one.part-one:before {
  border-width: 10px 10px 0 0;
  border-color: #637280 transparent transparent transparent;
  top: -10px;
}

.containerProduct .part-one.part-one::after {
  /*   border-color:  transparent $mainBackgroun transparent transparent;
 */
  display: none;
}

.containerProduct .part-one.part-two.product-galery-edge {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  right: 0;
  background: #637280;
  position: relative;
  top: -15px;
  height: 15px;
  left: 173px;
  /*       bottom: 0;
      bottom: -20px; */
}

.containerProduct .part-one.part-two.product-galery-edge.part-one:before {
  /*     border-color: $mainBackgroun transparent transparent transparent;
    border-width: 16px 16px 0 0; */
  display: none;
  /* top: -8px;
    right: -100%; */
}

.containerProduct .part-one.part-two.product-galery-edge.part-one::after {
  border-width: 0 16px 16px 0;
  left: -14px;
  border-color: transparent #637280 transparent transparent;
}

@media screen and (max-width: 800px) {
  .product {
    margin: 0;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .containerProduct {
    margin: 10px 0;
  }
  .productInfo {
    margin-left: 0%;
  }
  .row {
    /*     display: flex;
    
    justify-content: center; */
  }
  .row .column {
    margin: 10px 10px 10px 0px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .productGalery {
    width: 100%;
    -ms-flex-item-align: start;
        align-self: flex-start;
    position: relative;
    margin-top: 30px;
  }
}

@media screen and (max-width: 420px) {
  .breadcrumb {
    width: 100%;
    padding: 10px 0;
  }
  ul.breadcrumb li a {
    font-size: 16px;
  }
}

@media screen and (max-width: 350px) {
  .owl-carousel .owl-nav button.owl-next {
    right: 0;
  }
  .owl-carousel .owl-nav button.owl-prev {
    left: 0;
  }
  .containerProduct {
    height: 40vh;
    min-height: 300px;
    width: 100%;
  }
  .productInfo {
    margin-left: 15px;
  }
}

.kontaktAside {
  max-width: 800px;
  background-color: #637280;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 70px;
  overflow: hidden;
  border: 1px solid #3a4652;
}

.kontaktAside img {
  width: 100%;
  height: 100%;
}

#smallImgKontakt {
  max-width: 800px;
  min-height: 350px;
  background-color: #637280;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  min-height: 250px;
  grid-gap: 10px;
  overflow: hidden;
}

#smallImgKontakt img {
  min-width: 250px;
  min-height: 350px;
}

@media screen and (max-width: 350px) {
  .kontaktAside,
  #smallImgKontakt,
  #bigImgKontakt {
    width: 100%;
  }
}

section {
  margin: 20px auto;
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section .kontakt-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 5px solid #485867;
  border-bottom: 5px solid #485867;
  border-right: 10px solid #485867;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 550px;
  background: #485867;
}

section .kontakt-map .plane {
  width: 50px;
  height: 100%;
  background: #485867;
}

section .kontakt-map .plane svg {
  width: 30px;
  height: 30px;
  fill: #20272f;
  margin: 10px;
}

section .kontakt-map img {
  background-size: cover;
  background-repeat: repeat;
}

.contact-title {
  color: #898b8d;
  text-align: center;
  text-transform: uppercase;
}

.contact-title h1 {
  font-size: 25px;
  line-height: 10px;
  margin-bottom: 20px;
}

.contact-title h2 {
  font-size: 16px;
}

.contact-form {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 100%;
  background: #242c35;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  -webkit-transition: all 4s ease-in-out;
  transition: all 4s ease-in-out;
}

.form-control {
  height: 55px;
  width: 90%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid orange;
  font-size: 18px;
  margin: 5px auto;
  text-align: start;
  color: yellow;
}

textarea {
  height: 200px !important;
}

input {
  height: 45px;
  color: orange;
  color: yellow;
}

form .submit {
  background: #ff5722;
  border: none;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 40px;
  margin: 20px auto;
}

.plane {
  width: 50px;
  height: 100%;
  background: #485867;
}

.plane svg {
  width: 30px;
  height: 30px;
  fill: #20272f;
  margin: 10px;
}

form .submit:hover {
  background-color: #6ff857;
  cursor: pointer;
}

@media (max-width: 800px) {
  section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section .info-outer {
    margin: 20px 0;
    width: 100%;
  }
  section .info-outer a p {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  section .kontakt-map {
    max-width: 100%;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-left: 10px solid #485867;
    border-top: none;
  }
  section .kontakt-map .plane svg {
    margin-left: 0;
  }
  section .kontakt-map #kontaktirajte-nas {
    position: relative;
    top: -40px;
    color: #20272f;
    font-size: 20px;
  }
}

.info-outer {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 10px 5px 0;
  background: #485867;
  width: 40%;
  margin-right: 10px;
}

.info-outer .info-icons {
  width: 50px;
  background: #485867;
}

.info-outer .info-icons svg {
  margin: 0 10px;
  margin-top: 10px;
  width: 30px;
  height: 30px;
  fill: #20272f;
}

.info-outer .info-icons svg:nth-child(1) {
  margin-top: 10px;
}

.info-outer .info-icons svg:nth-child(2) {
  margin-top: 14px;
}

.info-outer .info-icons svg:nth-child(3) {
  margin-top: 13px;
}

.info-outer .info-icons svg:nth-child(4) {
  margin-top: 14px;
}

.info-outer .info-icons svg:nth-child(5) {
  margin-top: 16px;
}

.info-outer .info-info {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  background: #242c35;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.info-outer .info-info p {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin: 0 10px;
  margin-top: 10px;
  height: 40px;
  font-size: 18px;
  color: #898b8d;
}

.dropdown-content {
  z-index: 153;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  min-width: 200px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 10px;
  z-index: 15;
  z-index: 153;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#back-to-top-btn {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 42px;
  height: 42px;
  font-size: 18px;
  border-radius: 50%;
  z-index: 6;
  border: none;
  outline: none;
  background-color: #102f52;
  color: #637280;
  border: 1px solid #637280;
  cursor: pointer;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* #back-to-top-btn:hover
{
  color: $darkBlue;
  background-color: rgba(255, 68, 0, 0.568);
  outline: none;
}
 */
@media screen and (max-width: 800px) {
  #back-to-top-btn {
    bottom: 10px;
    right: 10px;
  }
}

.btnIn {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: btnIn;
          animation-name: btnIn;
}

/* @keyframes btnIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }
} */
@-webkit-keyframes btnIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
  }
}
@keyframes btnIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
  }
}

.btnOut {
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: btnOut;
          animation-name: btnOut;
}

/* @keyframes btnOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
} */
@-webkit-keyframes btnOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}
@keyframes btnOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}

html {
  line-height: unset;
}

.smallNav {
  height: 57px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bigNav {
  height: 80px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.smallLogo {
  position: relative;
  top: -3px;
  padding: 0 0 5px 0;
  width: 62px;
  left: -10%;
  border-bottom: 1px solid rgba(245, 245, 245, 0.452);
}

.smallLogo a {
  margin: unset;
  padding: unset;
  text-decoration: none;
}

.bigLogo {
  text-align: unset;
  line-height: unset;
  margin: 0;
  position: relative;
  top: -5px;
  padding: 0 0 10px 0;
  width: 94.5px;
  left: -10%;
  border-bottom: 1px solid rgba(245, 245, 245, 0.5);
}

.bigLogo a {
  margin: unset;
  padding: unset;
  text-decoration: none;
}

.batoSmall {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 14px;
  letter-spacing: 5px;
  color: white;
  margin: 0;
  padding: 0;
  height: 19px;
  font-family: 'Orbitron', sans-serif;
  text-decoration: none;
}

.batoBig {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: white;
  margin: 0;
  padding: 0;
  height: 25px;
  font-size: 20px;
  letter-spacing: 9px;
  font-family: 'Orbitron', sans-serif;
}

.alpvcSmall {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 8.5px;
  letter-spacing: 1.2px;
  color: #4e6070;
  margin: 0;
  text-decoration: none;
  height: 22px;
}

.alpvcBig {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  height: 32px;
  font-size: 12px;
  letter-spacing: 2px;
  color: #e8491d;
  font-weight: bold;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .bigNav {
    height: 57px;
  }
  .bigLogo {
    position: relative;
    top: -3px;
    padding: 0 0 5px 0;
    width: 64px;
    left: -10%;
    border-bottom: 1px solid rgba(245, 245, 245, 0.452);
  }
  .bigLogo a {
    margin: unset;
    padding: unset;
    text-decoration: none;
  }
  .batoBig {
    font-size: 14px;
    letter-spacing: 5px;
    color: white;
    margin: 0;
    padding: 0;
    height: 17px;
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;
  }
  .alpvcBig {
    height: 22px;
    font-size: 8.5px;
    letter-spacing: 1.2px;
    color: #4e6070;
    margin: 0;
    text-decoration: none;
    font-weight: unset;
  }
}

.aside,
#cards {
  max-width: 800px;
  background-color: #637280;
  margin: 0 auto;
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  min-height: 250px;
  grid-gap: 10px;
  overflow: hidden;
}

.aside a img,
#cards a img {
  background-size: cover;
  width: 100%;
  height: 70%;
  position: relative;
  top: 0;
  margin: 0 auto;
  margin-bottom: 10px;
}

@media screen and (max-width: 350px) {
  #mainContent {
    width: 100%;
  }
  .aside,
  #cards {
    width: 100%;
  }
  .aside a,
  #cards a {
    margin: 0 auto;
    max-width: 250px;
    width: 100%;
  }
}

#gridCard1 {
  background-color: #637280;
  border-bottom: none;
  text-align: left;
}

#gridCard1 button {
  position: relative;
  right: -170px;
}

#gridCard2 {
  padding: 5px;
  border-bottom: none;
  text-align: left;
}

#gridCard2 button {
  position: relative;
  right: -170px;
}

#cards {
  border-bottom: 1px solid darkgray;
  border-top: 1px solid darkgray;
}

#cards a {
  padding-top: 20px;
  background-color: #637280;
  max-height: 230px;
  position: relative;
  top: 20px;
  opacity: 0.2;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 250px;
  width: 250px;
  color: #2e3944;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
}

#cards a p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin: 20px;
}

#cards a h4 {
  font-size: 16px;
  font-weight: bold;
}

.fill {
  width: 50px;
  height: 50px;
  fill: #2e3944;
}

.sviProizvodi.svi-proizvodi-small {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(175px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  grid-gap: 1px;
}

.sviProizvodi.svi-proizvodi-small .productVraper {
  height: 150px;
}

.sviProizvodi.svi-proizvodi-small a {
  height: 240px;
  width: 175px;
}

.sviProizvodi.svi-proizvodi-small img {
  height: 150px;
}

.sviProizvodi.svi-proizvodi-small .see-tru {
  height: 150px;
  width: 175px;
}

.sviProizvodi.svi-proizvodi-small .saznajteVise {
  top: -115px;
  right: 197px;
}

.sviProizvodi.svi-proizvodi-small .saznajteViseBorder {
  top: -125px;
}

.sviProizvodi {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 5px;
}

.sviProizvodi .see-tru {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  width: 250px;
  height: 230px;
  background: #35424e;
  opacity: 0;
  z-index: 3;
}

.sviProizvodi a {
  margin: 10px auto;
  margin-top: 20px;
  width: 250px;
  height: 270px;
  color: #898b8d;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  /*     p {
      position: relative;
      top: -20px;
    } */
}

.sviProizvodi a img {
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  margin: 0 auto;
  margin-bottom: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  vertical-align: unset;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.sviProizvodi a p {
  margin-top: 10px;
}

.show-on-scroll-img {
  -webkit-animation: 1s show-on-scroll-img ease-in forwards;
          animation: 1s show-on-scroll-img ease-in forwards;
}

@-webkit-keyframes show-on-scroll-img {
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes show-on-scroll-img {
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.sviProizvodi a:hover .see-tru {
  opacity: 0.9;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.sviProizvodi a:hover .saznajteVise {
  -webkit-transform: translateX(220px);
          transform: translateX(220px);
  -webkit-animation: blue-btn 1s forwards ease-in-out;
          animation: blue-btn 1s forwards ease-in-out;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

@-webkit-keyframes blue-btn {
  to {
    background: #00a2ff;
  }
}

@keyframes blue-btn {
  to {
    background: #00a2ff;
  }
}

.sviProizvodi a:hover .saznajteViseBorder {
  -webkit-transform: translateX(-220px);
          transform: translateX(-220px);
}

/* .card:hover .saznajteVise{
  //color: white;
  transform: translateX(220px);
}
.card:hover .saznajteViseBorder{
  
  transform: translateX(-220px);
} */
/* .sviProizvodi a:active .saznajteVise{
  color: white;
  transform: translateX(-220px);
} */
.saznajteVise {
  position: relative;
  padding: 10px 5px 0 5px;
  height: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 20px;
  font-weight: 400;
  top: -150px;
  right: 160px;
  color: white;
  text-transform: uppercase;
  font-family: 'Abel', sans-serif;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin: 0;
  z-index: 4;
}

/* .saznajteVise:hover {
  background: rgb(0, 162, 255);
} */
/* .saznajteVise:hover .saznajteViseBorder {
  display: none;
} */
.saznajteViseBorder {
  position: relative;
  top: -160px;
  left: 220px;
  color: transparent;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 4;
}

.saznajteViseBorder {
  border-top: 2px solid white;
  width: 100px;
  margin: 0 auto;
}

/* @keyframes in {
  0% {}
  100% {right: 0;}
} */
.productVraper {
  height: 230px;
  overflow: hidden;
  border-radius: 5px;
}

.icon-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-text svg {
  height: 10px;
  width: 10px;
}

.outer {
  position: relative;
  width: 90%;
  margin: 20px auto;
  max-width: 1200px;
  height: 50vh;
  background: #aaaaaa;
}

@media (max-width: 600px) {
  .two .slider-box {
    left: unset;
    right: -20%;
    top: 45%;
    margin: 0 auto;
    z-index: 3;
  }
  .two .slider-box h1 {
    font-size: 50px;
  }
}

@media (max-width: 600px) {
  .outer {
    height: 70vh;
  }
  .img .slider-box {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 230px;
  }
  .img .slider-box h1 {
    margin-top: 10px;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
  }
  .img .slider-box h2 {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
  }
}

.inner {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.inner .img {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0;
  -webkit-transition: 2s;
  transition: 2s;
}

.inner .one {
  background: url("../images/windiws.jpg") no-repeat center center/cover;
}

.inner .two {
  background: url("../images/calculating-bills.jpg") no-repeat center center/cover;
}

.inner .three {
  background: url("../images/windiws.jpg") no-repeat center center/cover;
}

.active {
  -webkit-animation: active 1.5s ease-in-out forwards;
          animation: active 1.5s ease-in-out forwards;
}

@-webkit-keyframes active {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    top: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes active {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    top: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.plus-btn {
  left: 0;
}

.plus-btn svg {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  opacity: 0.4;
  fill: white;
  -webkit-transition: 1s;
  transition: 1s;
}

.plus-btn, .minus-btn {
  cursor: pointer;
  background: transparent;
  border: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 100%;
  right: 0;
  width: 60px;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.minus-btn svg {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  opacity: 0.4;
  fill: white;
  -webkit-transition: 1s;
  transition: 1s;
}

.slider-box {
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 92%, 94% 100%, 6% 100%, 0 92%, 0 0);
          clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 92%, 94% 100%, 6% 100%, 0 92%, 0 0);
  overflow: hidden;
  padding: 10px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50%;
  left: 50%;
  -webkit-transform: rotateY(20deg) translate(-48%, -50%);
          transform: rotateY(20deg) translate(-48%, -50%);
  height: 70%;
  width: 430px;
  background: rgba(53, 66, 78, 0.9);
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
  -webkit-transition: 1s all;
  transition: 1s all;
  color: #e3f8f5;
  z-index: 3;
}

.slider-box h1 {
  font-weight: 400;
  text-align: center;
  opacity: 0;
  position: relative;
  top: -10px;
  font-family: sans-serif;
}

.slider-box h2 {
  margin-top: 30px;
  padding: 10px;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  opacity: 0;
  position: relative;
  top: -10px;
  font-family: sans-serif;
}

.slider-box p {
  position: absolute;
  font-size: 270px;
  color: rgba(53, 66, 78, 0.5);
  z-index: -1;
  font-weight: 900;
  font-family: sans-serif;
  right: -60px;
  top: -40px;
  text-align: center;
}

.slider-box-anim {
  -webkit-animation: 0.5s slider-box-anim ease-in-out forwards;
          animation: 0.5s slider-box-anim ease-in-out forwards;
}

.slider-box-anim h1 {
  -webkit-animation: 0.6s slider-text-anim ease-in-out forwards;
          animation: 0.6s slider-text-anim ease-in-out forwards;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.slider-box-anim h2 {
  -webkit-animation: 0.8s slider-text-anim ease-in-out forwards;
          animation: 0.8s slider-text-anim ease-in-out forwards;
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}

@-webkit-keyframes slider-text-anim {
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes slider-text-anim {
  100% {
    opacity: 1;
    top: 0;
  }
}

@-webkit-keyframes slider-box-anim {
  100% {
    -webkit-transform: rotateY(0) translate(-50%, -50%);
            transform: rotateY(0) translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes slider-box-anim {
  100% {
    -webkit-transform: rotateY(0) translate(-50%, -50%);
            transform: rotateY(0) translate(-50%, -50%);
    opacity: 1;
  }
}

.two .slider-box h1 {
  font-size: 70px;
  font-weight: bold;
  font-family: sans-serif;
}

.two .slider-box p {
  right: -140px;
  font-size: 250px;
}

.indicators {
  height: 20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}

.indicators .indicator {
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 0 5px;
  position: relative;
  top: -2px;
  width: 27px;
  height: 4px;
  border-radius: 2px;
  background: white;
  opacity: 0.4;
}

.indicators .active-indicator {
  opacity: 0.8;
  top: -7px;
}

.home-small-slider {
  margin: 20px auto;
  max-width: 800px;
  background: -webkit-gradient(linear, left top, left bottom, from(#2e3944), to(#3a4652));
  background: linear-gradient(#2e3944, #3a4652);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 10px solid #4e6070;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.part-one, .part-one-fp {
  width: 60%;
  margin: 0 auto;
  height: 20px;
  position: relative;
  top: -1px;
  background-color: #4e6070;
}

.part-one:before {
  content: "";
  display: inline-block;
  position: relative;
  right: -99.8%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-color: #4e6070 transparent transparent transparent;
  z-index: 3;
}

.part-one::after {
  content: "";
  display: inline-block;
  position: relative;
  left: -39px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent #4e6070 transparent transparent;
  z-index: 3;
}

.part-two {
  /*   border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px; */
  width: 40%;
  margin: 0 auto;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  height: 30px;
  top: 1px;
}

.part-two.part-one:before {
  border-width: 30px 30px 0 0;
  right: -99.8%;
}

.part-two.part-one::after {
  border-width: 0 30px 30px 0;
  left: -59px;
}

.sliderPart {
  position: relative;
  top: -9px;
  bottom: 0;
  height: 10px;
  background: #637280;
}

.sliderPart.part-one:before {
  border-color: #637280 transparent transparent transparent;
  border-width: 10px 10px 0 0;
  top: -6px;
  right: -100%;
}

.sliderPart.part-one::after {
  border-width: 0 10px 10px 0;
  left: -20px;
  top: -6px;
  border-color: transparent #637280 transparent transparent;
}

.slider-part-one {
  z-index: 2;
  background: #637280;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  /*   border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px; */
  top: -1px;
}

.slider-part-one.part-one:before {
  border-color: #637280 transparent transparent transparent;
  right: -100%;
}

.slider-part-one.part-one::after {
  border-color: transparent #637280 transparent transparent;
  left: -40px;
}

.outer:hover .plus-btn svg {
  fill: orangered;
  opacity: 0.8;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.outer:hover .minus-btn svg {
  fill: orangered;
  opacity: 0.6;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.home-small-slider.fancy-paragraf .part-one {
  height: 10px;
}

.home-small-slider.fancy-paragraf .part-one:before {
  border-width: 10px 10px 0 0;
  top: -6px;
}

.home-small-slider.fancy-paragraf .part-one:after {
  border-width: 0 10px 10px 0;
  left: -20px;
  top: -6px;
}

/* Style the list */
ul.breadcrumb {
  padding: 10px 0;
  list-style: none;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Display list items side by side */
ul.breadcrumb li {
  font-size: 18px;
  color: #2e3944;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  padding: 8px;
  color: #2e3944;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: orange;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #9b5402;
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */