/*  #5d7187e5; */
* {
  font-family: "Abel", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 250px;
}

.noDisplay {
  display: none;
}

.quickContact {
  width: 100%;
  background-color: #35424e;
  height: 29px;
  color: whitesmoke;
  padding: 3.5px 40px 0 40px;
  border-bottom: 1px solid rgba(255, 252, 252, 0.473);
}

.quickContact p {
  display: inline;
  margin: 0;
}

.quickContact #telefon {
  margin: 0;
  color: orange;
}

.quickContact #gmail {
  margin: 0;
  float: right;
  color: orange;
}

.quickContact #gmail a {
  color: white;
}

nav {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 90px;
  background-color: #35424e;
  color: whitesmoke;
  z-index: 3;
  background-image: url("../images/aaaa.jpg");
  background-position: center;
  background-size: cover;
}

/*dodato owo gore*/
.nav-links li a:hover {
  color: #e8491d;
  font-weight: bold;
}

.logoImg {
  position: absolute;
  height: 70px;
  width: 112px;
  left: 20px;
  background-image: url("../images/logoh70.png");
}

.logoToHome {
  position: absolute;
  height: inherit;
  width: inherit;
}

.logoImgSmall {
  position: absolute;
  left: 20px;
  background-image: url("../images/logoh48.png");
  height: 48px;
  width: 77px;
}

@media screen and (max-width: 800px) {
  .logoImg {
    left: 20px;
    background-image: url("../images/logoh48.png");
    height: 48px;
    width: 77px;
  }
  .logoToHome {
    position: absolute;
    height: 48px;
    width: 77px;
  }
}

.logo {
  text-align: unset;
  line-height: unset;
  margin: 0;
  position: relative;
  top: -10px;
  padding: 0 0 5px 0;
  width: 92.5px;
  left: -10%;
  border-bottom: 1px solid whitesmoke;
}

.logo a {
  margin: unset;
  padding: unset;
  text-decoration: none;
}

.logo :hover {
  cursor: pointer;
}

#bato {
  color: white;
  margin: 0;
  padding: 0;
  height: 20px;
  font-size: 20px;
  letter-spacing: 9px;
  font-family: 'Orbitron', sans-serif;
}

#alpvc {
  height: 32px;
  font-size: 12px;
  letter-spacing: 2px;
  color: #e8491d;
  font-weight: bold;
  margin: 0;
}

.nav-links {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
  margin: unset;
  position: absolute;
  right: 30px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: whitesmoke;
}

#home {
  text-decoration: none;
  color: #ff6600;
  /* font-size: 15px; */
  border-top: 1px solid white;
  font-weight: bold;
  margin: 5px 0 0 0;
  letter-spacing: 2px;
  padding-top: 5px;
  font-weight: bold;
}

#naslov {
  text-align: center;
  margin: 0 auto;
  position: relative;
  line-height: 0;
  -webkit-animation: title 1s forwards;
          animation: title 1s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  /*  animation-name: title;
  animation-duration: 2s;
  animation-fill-mode: forwards; */
}

#naslov h2, #naslov h3 {
  padding: 0;
}

@-webkit-keyframes title {
  0% {
    left: -1000px;
  }
  100% {
    left: 0;
  }
}

@keyframes title {
  0% {
    left: -1000px;
  }
  100% {
    left: 0;
  }
}

#fancyParagraf {
  background-color: #f4f4f4;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 790px;
  padding: 10px;
  padding-top: 0;
}

#fancyParagraf #smallTxt {
  text-align: center;
  color: #35424e;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 300px;
  color: #d1c5c5;
  background-color: #2b2931;
  padding: 30px;
  clear: both;
  position: relative;
  margin-top: 20px;
}

#icons-vraper {
  width: 25%;
  text-align: center;
}

#icons-vraper h4 {
  font-weight: normal;
  font-size: 16px;
}

#icons-vraper .fa-phone {
  padding: 0;
  height: 20px;
  width: 30px;
}

#icons-vraper .fa-map-marker-alt {
  width: 30px;
}

.icons {
  min-width: 100px;
  color: white;
  text-align: center;
  padding-bottom: 20px;
}

#mapTxt {
  width: 35%;
  min-height: 60px;
  overflow: hidden;
}

#map {
  width: 100%;
  height: 220px;
  overflow: hidden;
  list-style: none;
}

#proizvodiFooter {
  text-align: center;
  font-size: 14px;
  width: 30%;
  min-height: 60px;
}

#proizvodiFooter #innerProizvodi {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(130px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-gap: 5px;
}

#proizvodiFooter a {
  display: block;
  color: white;
}

#copyRight {
  margin: 0;
  color: white;
  background-color: #2b2931;
  border-top: 1px solid #4f4d55;
  text-align: center;
  font-size: 14px;
}

.fa {
  padding: 16px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  margin-top: 5px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */
/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-instagram {
  background: #2751db;
  color: white;
}

.burger {
  position: absolute;
  right: 20px;
  cursor: pointer;
  display: none;
}

.burger div {
  background-color: #e2e2e2;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 25px;
}

@media screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
  .quickContact {
    height: 23px;
    font-size: 12px;
  }
  .quickContact #telefon {
    margin: 0 auto;
  }
  .icons {
    display: inline-block;
  }
  footer {
    padding: 5px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer #icons-vraper,
  footer .icons,
  footer #mapTxt,
  footer #map,
  footer #proizvodiFooter {
    text-align: center;
    width: 100%;
    margin-top: 10px;
    padding: 0;
  }
  .nav-links {
    background-image: url("D:/Dokumenta/Desktop/New folder/stlBato/images/aaaa.jpg");
    z-index: 999;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #35424e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 72vh;
    position: absolute;
    right: 0px;
    top: 40px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
    width: 45%;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    z-index: 5;
    display: block;
  }
  .logo {
    position: relative;
    top: -2px;
    padding: 0 0 5px 0;
    width: 62px;
    left: -10%;
    border-bottom: 1px solid whitesmoke;
  }
  #bato {
    font-size: 14px;
    letter-spacing: 5px;
  }
  #alpvc {
    font-size: 8.5px;
    letter-spacing: 1.2px;
    color: #ff6600;
  }
  nav {
    height: 60px;
  }
  #gmail {
    display: none;
  }
  #mainContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #mainContent #fancyParagraf {
    width: 100%;
    line-height: 1;
  }
  #mainContent #fancyParagraf #smallTxt {
    font-size: 16px;
    font-weight: normal;
  }
  .dropdown {
    display: none;
  }
  .noDisplay {
    display: inline;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

#mainContent {
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 20px;
  width: 90%;
  display: block;
}

#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 50px;
  font-size: 18px;
  border-radius: 10px;
  background-color: #102f52;
  z-index: 6;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  text-align: center;
  padding: 10px;
}

#topBtn:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

#activeNav {
  text-decoration: none;
  color: orangered;
  /* font-size: 15px; */
  border-top: 1px solid white;
  margin: 5px 0 0 0;
  padding-top: 5px;
  z-index: 10;
  font-weight: bold;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

#demo {
  margin: 0 auto;
  overflow: hidden;
  max-height: 500px;
  max-width: 1800px;
  margin-top: 40px;
}

.carousel-item {
  max-height: 500px;
  max-width: 1800px;
}

.content {
  height: 100px;
  position: absolute;
  bottom: 0;
  background: black;
  background: rgba(0, 0, 0, 0.6);
  color: #f1f1f1;
  width: 100%;
  padding: 0;
  padding-left: 50px;
}

.carousel-indicators {
  z-index: 2;
}

/* @import '_slide.scss'; */
.parent-box {
  background-color: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f4f4f4;
}

.box {
  height: 300px;
  min-width: 250px;
  background-color: #f4f4f4;
  margin: 10px;
}

.box img {
  width: 100%;
  height: 90%;
  max-width: 250px;
  margin: 0 auto;
}

.box p {
  text-align: center;
}

.owl-carousel .owl-nav button.owl-prev {
  text-decoration: none;
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #102f52;
  color: #f4f4f4;
}

.owl-carousel .owl-nav button.owl-next {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  position: absolute;
  top: 50%;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: orchid;
  text-align: center;
}

.kontaktAside {
  max-width: 800px;
  background-color: red;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 70px;
  overflow: hidden;
  border: 1px solid #35424e;
}

.kontaktAside img {
  width: 100%;
  height: 100%;
}

#smallImgKontakt {
  max-width: 800px;
  min-height: 350px;
  background-color: #f4f4f4;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  min-height: 250px;
  grid-gap: 10px;
  overflow: hidden;
}

#smallImgKontakt img {
  min-width: 250px;
  min-height: 350px;
}

@media screen and (max-width: 350px) {
  .kontaktAside,
  #smallImgKontakt,
  #bigImgKontakt {
    width: 100%;
  }
}

.dropdown-content {
  z-index: 5;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  min-width: 200px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 10px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 42px;
  height: 42px;
  font-size: 18px;
  border-radius: 50%;
  z-index: 6;
  border: none;
  outline: none;
  background-color: #102f52;
  color: #f4f4f4;
  border: 1px solid #f4f4f4;
  cursor: pointer;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

#back-to-top-btn:hover,
#back-to-top-btn:focus {
  color: #102f52;
  background-color: rgba(255, 68, 0, 0.568);
}

@media screen and (max-width: 800px) {
  #back-to-top-btn {
    bottom: 10px;
    right: 10px;
  }
}

.btnIn {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: btnIn;
          animation-name: btnIn;
}

/* @keyframes btnIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }
} */
@-webkit-keyframes btnIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
  }
}
@keyframes btnIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
  }
}

.btnOut {
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: btnOut;
          animation-name: btnOut;
}

/* @keyframes btnOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
} */
@-webkit-keyframes btnOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}
@keyframes btnOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}

html {
  line-height: unset;
}

.smallNav {
  height: 57px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bigNav {
  height: 80px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.smallLogo {
  position: relative;
  top: -3px;
  padding: 0 0 5px 0;
  width: 62px;
  left: -10%;
  border-bottom: 1px solid rgba(245, 245, 245, 0.452);
}

.smallLogo a {
  margin: unset;
  padding: unset;
  text-decoration: none;
}

.bigLogo {
  text-align: unset;
  line-height: unset;
  margin: 0;
  position: relative;
  top: -5px;
  padding: 0 0 10px 0;
  width: 94.5px;
  left: -10%;
  border-bottom: 1px solid rgba(245, 245, 245, 0.5);
}

.bigLogo a {
  margin: unset;
  padding: unset;
  text-decoration: none;
}

.batoSmall {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 14px;
  letter-spacing: 5px;
  color: white;
  margin: 0;
  padding: 0;
  height: 19px;
  font-family: 'Orbitron', sans-serif;
  text-decoration: none;
}

.batoBig {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: white;
  margin: 0;
  padding: 0;
  height: 25px;
  font-size: 20px;
  letter-spacing: 9px;
  font-family: 'Orbitron', sans-serif;
}

.alpvcSmall {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 8.5px;
  letter-spacing: 1.2px;
  color: #ff6600;
  margin: 0;
  text-decoration: none;
  height: 22px;
}

.alpvcBig {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  height: 32px;
  font-size: 12px;
  letter-spacing: 2px;
  color: #e8491d;
  font-weight: bold;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .bigNav {
    height: 57px;
  }
  .bigLogo {
    position: relative;
    top: -3px;
    padding: 0 0 5px 0;
    width: 64px;
    left: -10%;
    border-bottom: 1px solid rgba(245, 245, 245, 0.452);
  }
  .bigLogo a {
    margin: unset;
    padding: unset;
    text-decoration: none;
  }
  .batoBig {
    font-size: 14px;
    letter-spacing: 5px;
    color: white;
    margin: 0;
    padding: 0;
    height: 17px;
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;
  }
  .alpvcBig {
    height: 22px;
    font-size: 8.5px;
    letter-spacing: 1.2px;
    color: #ff6600;
    margin: 0;
    text-decoration: none;
    font-weight: unset;
  }
}

.aside,
#cards {
  max-width: 800px;
  background-color: #f4f4f4;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  min-height: 250px;
  grid-gap: 10px;
  overflow: hidden;
}

.aside a,
#cards a {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 250px;
  height: 390px;
  color: #35424e;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.aside a img,
#cards a img {
  background-size: cover;
  width: 100%;
  height: 70%;
  position: relative;
  top: 0;
  margin: 0 auto;
  margin-bottom: 10px;
}

@media screen and (max-width: 350px) {
  #mainContent {
    width: 100%;
  }
  .aside,
  #cards {
    width: 100%;
  }
  .aside a,
  #cards a {
    margin: 0 auto;
    max-width: 250px;
    width: 100%;
  }
}

#gridCard1 {
  background-color: #f4f4f4;
  border-bottom: none;
  text-align: left;
}

#gridCard1 button {
  position: relative;
  right: -170px;
}

#gridCard2 {
  padding: 5px;
  border-bottom: none;
  text-align: left;
}

#gridCard2 button {
  position: relative;
  right: -170px;
}

#cards {
  border-bottom: 1px solid #35424e;
  border-top: 1px solid #35424e;
}

#cards a {
  padding-top: 20px;
  margin-top: 10px;
  background-color: #f4f4f4;
  max-height: 250px;
}

#cards a p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin: 20px;
}

#cards a h4 {
  font-size: 16px;
  font-weight: bold;
}

.fill {
  width: 50px;
  height: 50px;
  fill: #F46517;
}

.svgRadius {
  border: 2px solid #F46517;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.card {
  margin-bottom: 20px;
  max-width: 250px;
  /* Add shadows to create the "card" effect */
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card img {
  max-height: 250px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
/*# sourceMappingURL=style.css.map */