* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.outer {
  position: relative; 
  top: 200px;
  width: 100%;
  height: 50vh;
  border: 2px solid rgb(161, 0, 121);

}

.inner {
  position: relative;
  height: 90%;
  width: 100%;
  border: 2px solid skyblue;
  overflow: hidden;

}

.inner .img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -10px;
  opacity: 0;
  
}


.inner .one {
 background: url("tehnologies1.jpg") no-repeat center center / cover;
}

.inner .two {
 background: url("tehnologies2.jpg") no-repeat center center / cover;

}

.inner .three {
  background: url("browsers.jpg") no-repeat center center / cover;
}

.active {
  animation: active 1s linear forwards;
}

@keyframes active {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}